.user-devise

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  
    .new_user__box
      %h2.new_user__box__signin サインイン
      .new_user__box__email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "new_user__box__email__field"
      .new_user__box__password
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "new_user__box__password__field"
      - if devise_mapping.rememberable?
        .new_user__box__rmbrme
          = f.check_box :remember_me
          = f.label :remember_me
      .new_user__box__actions
        = f.submit "Log in", class: "new_user__box__actions__btn"

-# = render "devise/shared/links"
